.container-bg {
    background-color: #0077B5;
    padding: 12px;
	border: 2px solid white;
    /* border-radius: 10px; */
}
.notification-container {
    background-color: #000000;
    padding: 12px;
	border: 2px solid white;
    /* border-radius: 10px; */
}
.label-body {
    color: white;
	font-size: 12px;
}
.label-summary {
    font-weight: bold;
	color: white;
	font-size: 12px;
}

/* Button style */
button.my-button {
    background-color: #0000FF;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
}
checkbutton.my-checkbox {
    background-color: #2222FF;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
}

.nc-bg {
    background-color: black;
    padding: 12px;
}
